<?xml version="1.0" ?>
<robot name="body">
   <material name="obj_color">
      <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
   </material>
   <link name="top">
      <inertial>
         <origin rpy="3.155076967502728 19.22458482032178 21.87015231391965" xyz="-0.0004450398782552111 -0.3173033193519944 -0.01833182885824168"/>
         <mass value="114.52479252598"/>
         <inertia ixx="19.22459500627921" ixy="-0.01211607096037864" ixz="-0.00727452973825423" iyy="3.156544357124303" iyz="-0.1651888880249832" izz="21.86867473834064"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="top_watertight_tiny.obj" scale="1 1 1"/>
         </geometry>
      </collision>
   </link>
   <link name="bottom">
      <inertial>
         <origin rpy="1.633333333194242e-08 1.633333333194243e-08 1.633333333357667e-08" xyz="0.3464080000000008 0.3464080000000008 0.3464080000000008"/>
         <mass value="0.0009800000000000017"/>
         <inertia ixx="1.633333333248717e-08" ixy="5.447480642029219e-19" ixz="5.447480642029219e-19" iyy="1.633333333248717e-08" iyz="5.447480642029219e-19" izz="1.633333333248717e-08"/>
      </inertial>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0"/>
         <geometry>
            <mesh filename="bottom_watertight_tiny.stl" scale="1 1 1"/>
         </geometry>
         <material name="obj_color"/>
      </visual>
   </link>
   <link name="world"/>
   <joint name="world_to_base" type="fixed">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 0"/>
      <parent link="world"/>
      <child link="bottom"/>
   </joint>
   <joint name="rotation" type="revolute">
      <origin xyz="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <parent link="bottom"/>
      <child link="top"/>
      <dynamics damping="1.0" friction="1.0"/>
      <limit effort="0.1" velocity="0.1" lower="0" upper="0.001"/>
   </joint>
</robot>
